label{
	font-size: 20px;
	font-weight: 500;
}

input{
	display: block;
	padding: 10px;
	margin-top: 10px;
	border-radius: 20px;
	width: 20%;
}

button{
	display: block;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 20px;
}