body{
	margin: 0px auto;
}
label{
	font-size: 20px;
	font-weight: 500;
	display: block;
	margin-top: 20px;
}
input{
	width: 100%;
	display: block;
	border-radius: 20px;
	margin-top: 15px;
	padding: 10px;
	outline: none;
}
button{
	padding: 10px;
	border-radius: 20px;
	margin-top: 20px;
	outline: none;
	border: 1px solid black;
}
.forms{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.register{
	width: 300px;
	align-content: center;
}
.signin{
	width: 300px;
}

